<!DOCTYPE html>
<html lang=“ko”>
<head>
    <meta charset=“UTF-8">
    <title>Index</title>
</head>
<body>
<div class=“wrap”>
    <form action=“#” method=“POST”>
        <div class=“form-row”>
            <label for=“id” class=“label”>아이디</label>
            <input type=“text” id=“id” placeholder=“아이디” />
        </div>
        <div class=“form-row”>
            <label for=“password” class=“label”>비밀번호</label>
            <input type=“password” id=“password” placeholder=” 비밀번호” />
        </div>
        <div class=“form-row”>
            <input type=“submit” value=“Sign In”>
        </div>
    </form>
    <span>
            <a href=“/signup.html”>회원가입</a>
        </span>
</div>
</body>
</html>